{
  acme_dns route53 {
    access_key_id {$ROUTE_53_ACCESS_KEY}
    secret_access_key {$ROUTE_53_SECRET}
  }
}

*.pauld.link {
  log {
    level DEBUG
  }

  @jellyfin host watch.pauld.link
  reverse_proxy @jellyfin jellyfin:8096

  @jf_vue host jf.pauld.link
  reverse_proxy @jf_vue jellyfin-vue:80

  @books host books.pauld.link
  reverse_proxy @books audiobookshelf:80

  @nextcloud host nextcloud.pauld.link
  reverse_proxy @nextcloud nextcloud:80

  @proxmox {
    host proxmox.pauld.link
    remote_ip 192.168.0.0/24
  }
  reverse_proxy @proxmox 192.168.0.123:8006

  @omada {
    host omada.pauld.link
    remote_ip 192.168.0.0/24
  }
  reverse_proxy @omada omada:8088

  @ddns {
    host ddns.pauld.link
    remote_ip 192.168.0.0/24
  }
  reverse_proxy @ddns ddns-updater:8000

  reverse_proxy authentik-server:9000
}
