{
  acme_dns route53 {
    access_key_id {$ROUTE_53_ACCESS_KEY}
    secret_access_key {$ROUTE_53_SECRET}
  }
}

*.pauld.link {
  handle {
    reverse_proxy authentik-server:9000
  }

  @jellyfin host watch.pauld.link
  handle @jellyfin {
    reverse_proxy jellyfin:8096
  }

  @jf_vue host jf.pauld.link
  handle @jf_vue {
    reverse_proxy jellyfin-vue:80
  }

  @books host books.pauld.link
  handle @books {
    reverse_proxy audiobookshelf:80
  }
}
