(authelia) {
  forward_auth authelia:9191 {
    uri /api/verify?rd=https://auth.ext.pauld.link/
    copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
  }
}

(insecure_reverse_proxy) {
  reverse_proxy {args[0]} {
    transport http {
      tls
      tls_insecure_skip_verify
    }
  }
}

{
  acme_dns route53 {
    access_key_id {$ROUTE_53_ACCESS_KEY}
    secret_access_key {$ROUTE_53_SECRET}
  }
}

*.pauld.link {
  @ldap host ldap.pauld.link
  handle @ldap {
    reverse_proxy lldap:17170
  }

  @proxmox host proxmox.pauld.link
  handle @proxmox {
    import insecure_reverse_proxy 192.168.0.123:8006
  }

  @omada host omada.pauld.link
  handle @omada {
    import insecure_reverse_proxy omada-controller:8043
  }

  @portainer host portainer.pauld.link
  handle @portainer {
    import insecure_reverse_proxy portainer:9443
  }

  @hass host hass.pauld.link
  handle @hass {
    reverse_proxy hass:8123
  }

  @zwave host zwave.pauld.link
  handle @zwave {
    reverse_proxy zwavejs:8091
  }

  @jellyfin host jellyfin.pauld.link
  handle @jellyfin {
    reverse_proxy jellyfin:8096
  }

  @jellyseerr host jellyseerr.pauld.link
  handle @jellyseerr {
    reverse_proxy jellyseerr:5055
  }

  @readarr host readarr.pauld.link
  handle @readarr {
    reverse_proxy http://readarr:8787
  }

  @speakarr host speakarr.pauld.link
  handle @speakarr {
    reverse_proxy http://speakarr:8787
  }

  @audiobookshelf host audiobookshelf.pauld.link
  handle @audiobookshelf {
   reverse_proxy audiobookshelf:80
  }

  @calibre host calibre.pauld.link
  handle @calibre {
    reverse_proxy calibre:8080
    handle_path /server/* {
      reverse_proxy calibre:8081
    }
  }

  @calibreweb host calibreweb.pauld.link
  handle @calibreweb {
    reverse_proxy calibre-web:8083
  }

  @sonarr host sonarr.pauld.link
  handle @sonarr {
    reverse_proxy sonarr:8989
  }

  @radarr host radarr.pauld.link
  handle @radarr {
    reverse_proxy radarr:7878
  }

  @lidarr host lidarr.pauld.link
  handle @lidarr {
    reverse_proxy lidarr:8686
  }

  @prowlarr host prowlarr.pauld.link
  handle @prowlarr {
    reverse_proxy prowlarr:9696
  }

  @torrent host torrent.pauld.link
  handle @torrent {
    redir / /vpn/
    redir /vpn /vpn/
    handle_path /vpn/* {
      reverse_proxy gluetun:3001
    }
    redir /open /open/
    handle_path /open/* {
      reverse_proxy flood-open:3001
    }
    abort
  }

  @comics host comics.pauld.link
  handle @comics {
    reverse_proxy tachidesk-vpn:4567
  }

  @pihole host pihole.pauld.link
  handle @pihole {
    rewrite / /admin
    reverse_proxy pihole:80
  }

  handle {
    abort
  }
}

*.ext.pauld.link {
  @auth host auth.ext.pauld.link
  handle @auth {
    reverse_proxy authelia:9191
  }

  @ldap host ldap.ext.pauld.link
  handle @ldap {
    import authelia
    reverse_proxy lldap:17170
  }

  @proxmox host proxmox.ext.pauld.link
  handle @proxmox {
    import authelia
    import insecure_reverse_proxy 192.168.0.123:8006
  }

  @omada host omada.ext.pauld.link
  handle @omada {
    import authelia
    import insecure_reverse_proxy omada-controller:8043
  }

  @portainer host portainer.ext.pauld.link
  handle @portainer {
    import authelia
    import insecure_reverse_proxy portainer:9443
  }

  @hass host hass.ext.pauld.link
  handle @hass {
    import authelia
    reverse_proxy hass:8123
  }

  @zwave host zwave.ext.pauld.link
  handle @zwave {
    import authelia
    reverse_proxy zwavejs:8091
  }

  @jellyfin host jellyfin.ext.pauld.link
  handle @jellyfin {
    import authelia
    reverse_proxy jellyfin:8096
  }

  @jellyseerr host jellyseerr.ext.pauld.link
  handle @jellyseerr {
    import authelia
    reverse_proxy jellyseerr:5055
  }

  @readarr host readarr.ext.pauld.link
  handle @readarr {
    import authelia
    reverse_proxy http://readarr:8787
  }

  @speakarr host speakarr.ext.pauld.link
  handle @speakarr {
    import authelia
    reverse_proxy http://speakarr:8787
  }

  @audiobookshelf host audiobookshelf.ext.pauld.link
  handle @audiobookshelf {
    import authelia
    reverse_proxy audiobookshelf:80
  }

  @calibre host calibre.ext.pauld.link
  handle @calibre {
    import authelia
    reverse_proxy calibre:8080
    handle_path /server/* {
      reverse_proxy calibre:8081
    }
  }

  @calibreweb host calibreweb.ext.pauld.link
  handle @calibreweb {
    import authelia
    reverse_proxy calibre-web:8083
  }

  @sonarr host sonarr.ext.pauld.link
  handle @sonarr {
    import authelia
    reverse_proxy sonarr:8989
  }

  @radarr host radarr.ext.pauld.link
  handle @radarr {
    import authelia
    reverse_proxy radarr:7878
  }

  @lidarr host lidarr.ext.pauld.link
  handle @lidarr {
    import authelia
    reverse_proxy lidarr:8686
  }

  @prowlarr host prowlarr.ext.pauld.link
  handle @prowlarr {
    import authelia
    reverse_proxy prowlarr:9696
  }

  @torrent host torrent.ext.pauld.link
  handle @torrent {
    import authelia
    redir / /vpn/
    redir /vpn /vpn/
    handle_path /vpn/* {
      reverse_proxy gluetun:3001
    }
    redir /open /open/
    handle_path /open/* {
      reverse_proxy flood-open:3001
    }
  }

  @comics host comics.ext.pauld.link
  handle @comics {
    import authelia
    reverse_proxy tachidesk-vpn:4567
  }

  @pihole host pihole.ext.pauld.link
  handle @pihole {
    import authelia
    rewrite / /admin
    reverse_proxy pihole:80
  }

  handle {
    abort
  }
}
