[Match]
Name={{ arch.network_interface }}

[Network]
Address={{ network.arch.ipv4 }}
Gateway={{ network.gateway }}
{% for server in network.dns %}
DNS={{ server }}
{% endfor %}
IPv6AcceptRA=no
DHCP=no
